html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
}
.homepage{  
    position: relative;
}

.main {
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    padding: 1rem;
    /* min-height: 100vh; */
}
/*navbar*/
.header {
    display: flex;
    justify-content: right;
    padding-bottom: 2rem;
}

a {
    font-size: 1.2rem;
    /* color: #E5E7EB; */
    text-decoration: none;
}

a:hover {
    filter: brightness(120%);
}

li {
    transition: transform 0.25s;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 1.2rem;
}

.container_one {
    display: flex;
    flex-direction: row;
    max-width: 536px;
    /* justify-content: center; */
    align-items: center;
    gap: 2rem;
}

.face_image {
    transition: transform 0.5s;
    height: 200px;
    width: 200px;
}

h1 {
    margin: 0;
}

.icons {
    
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
}

.icon {
    transition: transform 0.25s;
    width: 50px;
    height: 50px;
}

.icon:hover {
    transform: scale(1.1);
}

.main2 {
    position: relative;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom  : 1rem;
}

.projects_container {
    box-sizing: border-box;
    display: flex;
    max-width: 1000px;
    max-height: 600px;
    align-items: center;
    justify-content: center;
}

.portfolio_image {
    width: 400px;
    height: 225px;
    border-radius: 10px;
}

.portfolio_text {
    border-radius: 10px;
    height: 180px;
    /* z-index: 3; */
    /* margin: -20px; */
    background-color: #E5E7EB;
}
.portfolio_text {
    border-radius: 10px;
    width: 40%;
    height: 180px;
    z-index: 3;
    /* margin: -20px; */
    background-color: #E5E7EB;
}
.project_link:hover {
    transform: translate(0, -5px);
    filter: brightness(105%);
}
.project_link{
    transition: transform 0.25s;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin: 0.6em;
}

.skills button {
    background-color: rgb(202, 232, 221);
    border-radius: 15%;
    border: none;
    padding: 4px 10px;
    font-size: 1rem;
}
footer{
    text-align: center;
    font-size: 1.2rem;
}
/*fonts*/
.portfolio_text p {
    font-size: 1.1rem;
    color: #1F2937;
    margin: 0.6em;
}

.portfolio_text h2 {
    font-size: 2rem;
    color: #1F2937;
    font-weight: bold;
    margin: 0.3em;
}

.main_text_white {
    font-size: 2.75rem;
    font-weight: 900;
    /* color: #F9FaF8; */
}

#project_header {
    text-align: center;
    font-size: 2rem;
    /* color: #F9FaF8; */
}

.secondary_text {
    margin-block-start: 0;
    font-size: 2rem;
    color: #E5E7EB;
}



.experiences {
    display:flex;
    flex-direction: column;
}
.experience {
    display: flex;
    width: 535px;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
  }
  
  .left {
    display: flex;
    gap: 12px;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  
  .role-company {
    display: flex;
    flex-direction: column;
  }
  
  .role {
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  .company {
    font-size: 1.1rem;
    color: #555;
  }
  
  .date {
    font-size: 1.1rem;
    color: #665;
    /* white-space: nowrap;  */
  }
  
  .description {
    margin-top: 10px;
    font-size: 1rem;
    color: #665;
  }

  @media all and (max-width: 768px) {
    .projects_container {
        flex-direction: column;
    }

    .portfolio_text {
        margin: 0;
        width: 70%;
    }

    .portfolio_image {
       /* width: 70%;*/
       display: none;
    }
}
  @media all and (max-width: 600px) {
    .main_text_white {
        font-size: 3.5rem;
    }
    .face_image {
        display: none;
    }

    .experience{
        width: 100%;
        flex-direction: column;
        gap: 0.5rem;
    }
    .experiences{
        justify-content: center;
    }

    .secondary_text {
        font-size: 1.3rem;
    }
    .portfolio_text {
        margin: 0;
        width: 90%;
    }

    .portfolio_image {
        width: 90%;
    }
}

